In [3]:
#Python has SQL Lite built in
import sqlite3

#pass the name of the database
sqlite3.connect("example.db") 
#db files are created in the current working directly, not necessarily in the same folder as .py file 
#use cd in terminal to navigate to the folder you want to save .db file to 
#see path you're in with pwd

#say you want the database to be in memory RAM
#this is good if you want to test before creating the db
conn = sqlite3.connect(":memory:")

In [6]:
c = conn.cursor() #used to work with the data

#create table and columns
c.execute('CREATE TABLE IF NOT EXISTS books (title TEXT, pages INTEGER)') 
#if not exists is added for .db files so there is no error thrown that the table already exists when running file multiple times

In [10]:
#insert data
c.execute('INSERT INTO books VALUES ("Are You My Mother?", 72)')
conn.commit() #commit used anytime you want to insert data into table

#only insert to specific column
c.execute('INSERT INTO books (title) VALUES ("Are You My Mother?")')
conn.commit()

In [12]:
#retrieve data
c.execute('SELECT * FROM books')
data = c.fetchone()
print(data) #tuple is returned

('Are You My Mother?', 72)

In [17]:
books = [
    ("Are You My Mother?", 72),
    ("The Digging-est Dog", 72),
    ("The Giving Tree", 66)
]

c.executemany('INSERT INTO books VALUES (?, ?)', books)
conn.commit()

c.execute('SELECT * FROM books')
data_all = c.fetchall()
print(data_all)

[('Are You My Mother?', 72), ('Are You My Mother?', 72), ('Are You My Mother?', 72), ('Are You My Mother?', None), ('Are You My Mother?', 72), ('The Digging-est Dog', 72), ('The Giving Tree', 66), ('Are You My Mother?', 72), ('The Digging-est Dog', 72), ('The Giving Tree', 66), ('Are You My Mother?', 72), ('The Digging-est Dog', 72), ('The Giving Tree', 66)]

In [19]:
c.execute('SELECT * FROM books WHERE title="Are You My Mother?"')
data_all = c.fetchall()
print(data_all)

[('Are You My Mother?', 72), ('Are You My Mother?', 72), ('Are You My Mother?', 72), ('Are You My Mother?', None), ('Are You My Mother?', 72), ('Are You My Mother?', 72), ('Are You My Mother?', 72)]

In [21]:
#delete data
c.execute('DELETE FROM books WHERE title="Are You My Mother?"')
conn.commit()

c.execute('SELECT * FROM books')
data_all = c.fetchall()
print(data_all)

[('The Digging-est Dog', 72), ('The Giving Tree', 66), ('The Digging-est Dog', 72), ('The Giving Tree', 66), ('The Digging-est Dog', 72), ('The Giving Tree', 66)]

In [22]:
c.execute('SELECT rowid, title FROM books')
data_all = c.fetchall()
print(data_all)

[(6, 'The Digging-est Dog'), (7, 'The Giving Tree'), (9, 'The Digging-est Dog'), (10, 'The Giving Tree'), (12, 'The Digging-est Dog'), (13, 'The Giving Tree')]

In [23]:
#delete data
c.execute('DELETE FROM books WHERE rowid=7')
conn.commit()

c.execute('SELECT * FROM books')
data_all = c.fetchall()
print(data_all)

[('The Digging-est Dog', 72), ('The Digging-est Dog', 72), ('The Giving Tree', 66), ('The Digging-est Dog', 72), ('The Giving Tree', 66)]